@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css */
.button {
  overflow-wrap: break-word;
  word-break: break-word;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem; /* یا هر اندازه‌ای که مناسب باشد */
  white-space: normal;
}
