@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */
.button {
  overflow-wrap: break-word;
  word-break: break-word;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  white-space: normal;
}

/* Transition settings */
body {
  transition:
    background-color 0.6s ease-in-out,
    color 0.6s ease-in-out;
}

button {
  transition:
    background-color 0.6s ease-in-out,
    color 0.6s ease-in-out;
}
